:root {
   --app-background-color: #2e2e2e;
   --server-list-background-color: #343434;
   --channel-list-background-color: #2b2b2b;
}

body {
   margin: 0;
   padding: 0;
   background-color: var(--app-background-color);
   display: flex;
   flex-direction: row;
}

#serverList {
   width: 4vw;
   height: 100vh;
   min-width: 50px;
   background-color: var(--server-list-background-color);
}

#channelList {
   width: 12vw;
   height: 100vh;
   min-width: 120px;
   background-color: var(--channel-list-background-color);
}